@import url('https:\\fonts.googleapis.com/css2?family=Orbitron&display=swap');

.calculator {
   padding: 10px; 
   border-radius: 1em; 
   height: 380px;
   width: 400px;
   margin: auto;
   background-color: rgb(25, 80, 182);
   box-shadow: #00000030 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(19, 13, 19); 
    border: solid rgb(159, 20, 172) 0.5px;
    color: rgb(198, 201, 187);
    border-radius: 5px;
    width: 60%;
    height: 65%;
}
#btn  {
  background-color: green;
  width: 80%;
  height: 50%;
}
  input[type=button]  {
   font-family: 'Orbitron', sans-serif;
   background-color: #b43a36;
   color: white;
   border: solid black 2px;
   width: 50%;
   border-radius: 3px;
   height: 50%;
   outline: none;
}
  input:active[type=button]  {
       background: green;
       -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
        box-shadow: inset  0px 0px 5px #c1c1c1;
}