/* class starts with dot
    class can be use many times  */
.heading-style{
     color:rgb(233, 213, 213);
    font-size: 40px;
}
body{
    background-color: rgba(42, 109, 22, 0.767);
}
/* id starts with hash operator #
    id is usable only one time  */

#para-style{
    color:rgb(159, 212, 243);
}
        
#section1{
    background-color: rgb(94, 18, 56);
    color: rgb(221, 212, 228);
}
#div1{
    background-color: rgb(26, 92, 92);
}
        




h1{
    color: red;
    font-size: 34px;
}

input{
    padding: 20px;
    font-size: 1rem;
    width: 120px;
}

input:hover{
    background-color: rgb(89, 192, 20);
}
input:focus{
    background-color: red;
}
table,tr,td,th{
    border:0.5px solid blue;
}

tr:nth-child(odd){
    background-color: brown;
}

p:hover{
    background: #000;
    color: white;
}

.demo p:nth-child(4){
    background: #000;
    color: white;
}

.demo p:hover:nth-child(4){
    color:red;
    background-color: darkkhaki;
}

input::placeholder{
    color:rgb(23, 187, 86);
    background: #d8baba;
}

.demo::before, .demo::after{
    content: '';
    width: 100%;
    height: 20px;
    background: #000;
    display: inline-block;
}

/* div demo box size */
.demo{
    background-color: rgba(138, 12, 12, 0.767);
    height:300px;
    padding:10px;
    border:5px solid gray;
    box-sizing:border-box;
    opacity: 1.9;
}

/* gradient style */
.gradient-style{
    height: 400px;
    width: 100%;
    background-image: linear-gradient(to right, red,green)
}

#nav-menu ul li{
    list-style-type: none;
    margin:20px;
    float:left;
}

#nav-menu ul li a{
    text-decoration:none;
    font-size:20px;
    color:white;
}

#nav-menu{
    width:600px;
    height:80px;
    background-color: #2804698e;
    margin:0 auto;
    cursor:pointer;
}

#nav-menu ul li a:hover{
    color:red;
    text-decoration: underline;
}